.card-img-top{
    height:180px;
    object-fit:cover;
}

.card:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn {
    width: 40%;
    margin-top: auto;
    align-self: center
}

.card-title{
        text-align: justify;
        text-align-last: center;
        letter-spacing: 0.05em;
        word-break: break-all;
}

.card-text {
    color:#4f5050;
    text-align: justify;
    text-justify: inter-ideograph;
    text-align-last: left;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.05em;
    word-break: break-all;
    font-feature-settings: "palt" 1;
}
